---
// from https://flowbite.com/docs/components/navbar/
/*
<li>
  <a href="https://github.com/KnownSH/Rothouse" class="block py-2 px-3 text-white bg-transparent rounded md:bg-transparent md:p-0 dark:text-white aria-current="page">Source</a>
</li>
*/
---

<nav class="bg-white border-gray-200 pineffect">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="" class="flex items-center space-x-3 rtl:space-x-reverse">
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white stroke-double">Rothouse</span>
    </a>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0  dark:border-gray-700">
        
      </ul>
    </div>
  </div>
</nav>